:root {
    --cor1: #004D66;
    --cor2: #007B94;
    --cor3: #00D9E0;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* SIDEBAR INICIO */

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 78px;
    background: var(--cor1);
    padding: 6px 14px;
    z-index: 99;
    transition: all 0.5s ease;
}

.sidebar.open {
    width: 250px;
}

.sidebar .details {
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
}

.sidebar .details .icon {
    opacity: 0;
    transition: all 0.5s ease;
}

.sidebar .details .mentor {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    opacity: 0;
    transition: all 0.5s ease;
}

.sidebar.open .details .icon,
.sidebar.open .-details .mentor {
    opacity: 1;
}

.sidebar .details #btn {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 22px;
    transition: all 0.4s ease;
    font-size: 23px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease;
}

.sidebar.open .details #btn {
    text-align: right;
}

.sidebar i {
    color: #fff;
    height: 60px;
    min-width: 50px;
    font-size: 28px;
    text-align: center;
    line-height: 60px;
}

.sidebar .nav-list {
    height: 100%;
}

.sidebar li {
    position: relative;
    margin: 8px 0;
    list-style: none;
}

.sidebar li .tooltip {
    position: absolute;
    top: -20px;
    left: calc(100% + 15px);
    z-index: 3;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 400;
    opacity: 0;
    white-space: nowrap;
    pointer-events: none;
    transition: 0s;
}

.sidebar li:hover .tooltip {
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
    top: 50%;
    transform: translateY(-50%);
}

.sidebar.open li .tooltip {
    display: none;
}

.sidebar li a {
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    background: var(--cor1);
}

.sidebar li a:hover {
    background: #FFF;
}

.sidebar li a .links_name {
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
}

.sidebar.open li a .links_name {
    opacity: 1;
    pointer-events: auto;
}

.sidebar li a:hover .links_name,
.sidebar li a:hover i {
    transition: all 0.5s ease;
    color: var(--cor1);
}

.sidebar li i {
    height: 32px;
    line-height: 32px;
    font-size: 18px;
    border-radius: 12px;
}

.sidebar li i img {
    height: 32px;
    width: 32px;
}

.sidebar li.profile {
    position: fixed;
    height: 53px;
    width: 78px;
    left: 0;
    bottom: -8px;
    padding: 10px 14px;
    background: var(--cor2);
    transition: all 0.5s ease;
    overflow: hidden;
}

.sidebar.open li.profile {
    width: 250px;
}

.sidebar li .profile-details {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.sidebar li img {
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 6px;
    margin-right: 10px;
}

.sidebar li.profile .name,
.sidebar li.profile {
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    white-space: nowrap;
}

.sidebar li.profile {
    font-size: 12px;
}

.sidebar .profile #log {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: var(--cor2);
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-radius: 0px;
    transition: all 0.5s ease;
}

.sidebar .profile #log:hover {
    cursor: pointer;
}

.sidebar.open .profile #log {
    width: 50px;
    background: none;
}



@media (max-width: 420px) {
    .sidebar li .tooltip {
        display: none;
    }
}


/* MAIN INICIO */
.home-section {
    position: relative;
    background: #E4E9F7;
    min-height: 100vh;
    top: 0;
    left: 78px;
    width: calc(100% - 78px);
    transition: all 0.5s ease;
    z-index: 2;
}

.sidebar.open~.home-section {
    left: 250px;
    width: calc(100% - 250px);
}


header {
    background-color: var(--cor1);
    color: #FFF;
    text-align: center;
    padding: 15px;
}

header h1 {
    margin: auto;
}

main {
    padding: 25px;
    color: #fff;
}

.tarefas {
    width: 80%;
    height: 45%;
    background-color: var(--cor2);
    margin: auto;
    padding: 20px;
    text-align: center;
}

.lista{
    margin-top: 15px;
}

.divLi{
    background-color: #d3d3d3;
    color: black;
    box-shadow: 3px 3px 3px var(--cor1);
    margin-bottom: 10px;
    border-radius: 15px;
    padding: 5px;
    width: max-content;
}
.lista li{
    list-style: none;
}

.dicas {
    margin-top: 10px !important;
    background-color: var(--cor2);
    width: 80%;
    height: 55%;
    margin: auto;
    padding: 15px;
}

.dicas h1{
    text-align: center;
}

.select{
    width: 100%;
}

.select #sl{
    width: 100%;
    appearance: none;
    background-color: white;
    border: 1px solid var(--cor2);
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    font-size: large;
}
#sl:hover{
    cursor: pointer;
}
.posts{
    display: flex;
    flex-wrap: wrap;
}

.poster {
    width: 290px;
    margin: .5rem;
    background-color: #fff;
    position: relative;
    overflow: hidden;
}

.poster img {
    width: 100%;
    max-height: 290px;
}

.info a{
    text-decoration: none;
}

.info h3{
    color: var(--cor3);
    display: flex;
    
    justify-content: center;
    padding: 15px 25px 25px 25px;
}


.sinopse {
    background-color: var(--cor1);
    color: white;
    padding: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    max-height: 100%;
    transform: translateY(100%);
    transition: transform 0.3s ease;
}

.sinopse button {
    background-color: var(--cor3);
    border: 1px solid var(--cor3);
    border-radius: 15px;
    margin-top: 10px;
    font-weight: 600;
    padding: 5px;
}

.sinopse button:hover {
    cursor: pointer;
}

.poster:hover .sinopse {
    transform: translateY(0);
}
