:root {
    --cor0: #07c8f9;
    --cor1: #08b2f5;
    --cor2: #099bf1;
    --cor3: #0a85ed;
    --cor4: #0b6ee9;
    --cor5: #0c58e5;
    --cor6: #0d41e1;
    --cor7: #ffff;
    --cor8: #000;

    /* V2 - Azul - tá meio escuro */
}

html {
    height: 100%;
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--cor5);
}

main {
    padding: 80px;
}

/* ----- LOGIN INICIO ----- */
.wrapper-login {
    background-color: var(--cor7);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 80px;
    position: absolute;
    border-radius: 15px;
    text-align: center;
}

.wrapper-login input {
    padding: 5px;
    width: 180px;
    outline: none;
}

.wrapper-login button {
    background-color: var(--cor5);
    color: var(--cor7);
    width: 180px;
    padding: 5px;
    border-radius: 15px;
    border-color: var(--cor5);
    margin-bottom: 10px;
    
}

.wrapper-login button:hover {
    transform: translateY(-2px);
    box-shadow: 3px 3px var(--cor6);
    cursor: pointer;
}

.wrapper-login button:active {
    transform: translateY(+2px);
    box-shadow: 0px 0px;
}

/* ----- LOGIN FIM ----- */

/* ----- REGISTRO INICIO ----- */

.wrapper-registro{
    background-color: var(--cor7);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 80px;
    position: absolute;
    border-radius: 15px;
    margin-top: 15px;
    text-align: center;
}

.passos{
    width: 500px;
}

.passos ol {
    counter-reset: item;
    list-style-type: none;
    padding-left: 20px;
    margin-left: 20px;
    border-style: solid;
    border-color: var(--cor4);
    display: inline-block;
    border-width: 1px 0 0 0;
    padding: 15px 0 0;
      
  }

.passos li {
    position: relative;
    line-height: 30px;
    margin-bottom: 30px;
    display: inline-block;
    margin: 0 15px;
  }
  
.passos li::before {
    counter-increment: item;
    content: counter(item);
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    border: 1px var(--cor4) solid;
    background-color: var(--cor7); /* Cor de Fundo */
    color: var(--cor8); /* Cor da Letra */
    text-align: center;
    top: -30px;
    left: 50%;
    margin-left: -15px;
  }

.wrapper-registro input {
    padding: 3px;
    outline: none;
}

.nome, .email{
    width: 100%;
    margin-bottom: 10px;
}

.senha, .repeteSenha{
    width: 46%;
    margin-bottom: 10px;
}

.repeteSenha{
    margin-left: 4px;
}

.wrapper-registro button {
    background-color: var(--cor5);
    color: var(--cor7);
    width: 180px;
    padding: 5px;
    border-radius: 15px;
    border-color: var(--cor5);
}

.wrapper-registro button:hover {
    transform: translateY(-2px);
    box-shadow: 3px 3px var(--cor6);
    cursor: pointer;
}

.wrapper-registro button:active {
    transform: translateY(+2px);
    box-shadow: 0px 0px;
}

#formulario2{
    display: none;
}

#formulario2, input{
    margin-top: 15px;
}

/* ----- REGISTRO FIM ----- */