:root {
    --cor1: #004D66;
    --cor2: #007B94;
    --cor3: #00D9E0;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Arial, sans-serif;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    height: 90px;
    width: 100%;
    background-color: var(--cor1);
    align-items: center;
    font-size: 20px;
}

header img {
    margin-left: 65px;
    height: 64px;
    width: 64px;
}

.div-header {
    padding: 20px;
}

.div-header a {
    text-decoration: none;
    color: white;
    margin-left: 50px;
}

.sideBar {
    top: 0;
    left: 0;
    height: 103vh;
    width: 200px;
    background-color: var(--cor1);
    padding-bottom: 10px;
}

.sideBar a {
    text-decoration: none;
    color: white;
}

.menu h3, h2 {
    padding: 20px;
    color: white;
}

.menu {
    text-align: center;
    line-height: 30px;
    top: 0;
}

li {
    list-style-type: none;
    margin-bottom: 10px;
}

main {
    position: absolute;
    height: 100%;
    width: calc(100% - 200px);
    left: 200px;
    top: 90px;
    padding-top: 20px;
}

/* Dica */

